ephysScripts/.idea/encodings.xml
ephysScripts/.idea/ephysScripts.iml
ephysScripts/.idea/misc.xml
ephysScripts/.idea/modules.xml
ephysScripts/.idea/vcs.xml
ephysScripts/.idea/workspace.xml
ephysScripts/.idea/scopes/scope_settings.xml
